In [11]:
import pandas as pd
df = pd.read_csv("naive_bayes.csv")
df.head()

   pclass     sex   age  fare  survived
0       3    male  22.0    34         1
1       1  female  34.0   341         0
2       3    male  35.0    31         1
3       1    male  45.0     4         1
4       3    male  32.0     2         0

In [13]:
target = df.survived
inputs = df.drop('survived',axis = 'columns')

In [14]:
dummies = pd.get_dummies(inputs.sex)
dummies.head()

   female   male
0   False   True
1    True  False
2   False   True
3   False   True
4   False   True

In [15]:
inputs = pd.concat([inputs,dummies],axis = 'columns')
inputs.head()

   pclass     sex   age  fare  female   male
0       3    male  22.0    34   False   True
1       1  female  34.0   341    True  False
2       3    male  35.0    31   False   True
3       1    male  45.0     4   False   True
4       3    male  32.0     2   False   True

In [16]:
inputs.drop('sex',axis = 'columns',inplace = True)
inputs.head(3)

   pclass   age  fare  female   male
0       3  22.0    34   False   True
1       1  34.0   341    True  False
2       3  35.0    31   False   True

In [18]:
inputs.columns[inputs.isna().any()]

Index(['age'], dtype='object')

In [21]:
inputs.age[:10]

0    22.0
1    34.0
2    35.0
3    45.0
4    32.0
5     NaN
6    34.0
7    56.0
8    78.0
9    43.0
Name: age, dtype: float64

In [24]:
inputs.age = inputs.age.fillna(inputs.age.mean())
inputs.head()

   pclass   age  fare  female   male
0       3  22.0    34   False   True
1       1  34.0   341    True  False
2       3  35.0    31   False   True
3       1  45.0     4   False   True
4       3  32.0     2   False   True

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test ,y_train,y_test = train_test_split(inputs,target,test_size = 0.2)

In [26]:
len(X_test)

4

In [31]:
X_train.head()

    pclass        age  fare  female   male
3        1  45.000000     4   False   True
10       3  12.000000   232   False   True
1        1  34.000000   341    True  False
17       2  38.764706     3    True  False
11       1  46.000000  3213    True  False

In [35]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [36]:
model.fit(X_train,y_train)

GaussianNB()

In [37]:
model.score(X_test,y_test)

0.5

In [40]:
X_test

    pclass        age  fare  female   male
7        3  56.000000   123   False   True
13       3  45.000000   213    True  False
19       3  38.764706    12   False   True
6        1  34.000000    23    True  False

In [41]:
y_test

7     0
13    0
19    1
6     1
Name: survived, dtype: int64

In [42]:
model.predict(X_test)

array([0, 0, 0, 0], dtype=int64)

In [43]:
model.predict_proba(X_test)

array([[0.94942285, 0.05057715],
       [0.97572858, 0.02427142],
       [0.78949319, 0.21050681],
       [0.57285176, 0.42714824]])